*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*
============================
Header section styling start
============================
*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    text-align: right;
    flex: 1;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width:100% ;
    padding:50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    border-radius: 30px;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
}
.btn:hover{
    background:#563434 ;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;    
}
/*
=======================================
Featured category section styling start
=======================================
*/
.categories {
	margin: 70px 0;
}
.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}
.tittle{
    text-align: center;
    color: #555;
    position: relative;
    margin: 0 auto 80px;
    line-height: 60px;
}
.tittle::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background: #ff523b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.col-4 {
	flex-basis: 24%;
	min-width: 200px;
	margin-bottom: 50px;
	padding: 10px 5px;
    transition:transform 0.5s;
}
.col-4:hover {
    transform: translateY(-12px);
}
.col-4 img{
    width: 100%;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating-star .fas,.far,.fa-quote-left{
    color: #ff523b;
}
/*
=======================================
Offer section styling start
=======================================
*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img {
	padding: 4px;
	height: 410px;
}
small{
    color: #555;
}
/*
=======================================
Testimonial section styling start
=======================================
*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3 {
	text-align: center;
	padding: 40px 8px;
	box-shadow: -5px 0px 11px 0 rgba(0, 0, 0, 0.49);
	cursor: pointer;
	transition: transform 0.5s;
	border-radius: 5px;
}

.testimonial .col-3:hover {
	transform: translateY(-10px);
}
.testimonial .col-3 img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
}
.fa-quote-left{
    font-size: 30px;
}
.testimonial .col-3 p{
    font-size: 12px;
    color: #777;
    margin: 12px 0;
}
.testimonial .col-3 h3{
    font-size: 16px;
    color: #555;
    font-weight: 600;
}
/*
=======================================
Brands section styling start
=======================================
*/
.brands{
    margin: 100px auto;
}
.brands .col-5{
    width: 160px;
}
.brands .col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.5s;
}
.brands .col-5 img:hover{
    filter: grayscale(0);
}
/*
=======================================
Footer section styling start
=======================================
*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 82px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-3,.footer-col-4, ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menue-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*
=======================================
All product file styling start
=======================================
*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
   display: inline-block; 
   text-align: center;
   border: 1px solid #ff523b;
   margin-left: 10px;
   height: 40px;
   width: 40px;
   line-height: 40px;
   cursor: pointer;
   transition: 0.2s;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
 }

/*
=======================================
Single product file styling start
=======================================
*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
    flex-basis: 46%;
}
.single-product .col-2 h4{
    margin: 20px 0;
    font-weight: bold;
    font-size: 22px;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top:20px;
}
.single-product input{
    width: 45px;
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
.single-product input:focus{
    outline: none;
}
.single-product .fas.fa-indent {
	color: #ff523b;
	margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*
============================
Card item details styling start
============================
*/
.card-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.card-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    font-weight: 600;
}
td{
    padding: 10px 5px;
}
td input {
	padding: 5px;
	height: 25px;
	width: 47px;
	border-radius: 3.5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child,th:last-child{
    text-align: right;    
}
/*
============================
account secvtion styling start
============================
*/
.account_page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form-container {
    overflow: hidden;
	background: #fff;
	height: 400px;
	width: 300px;
    position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: -7px 0px 23px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.form-container span{
    width: 100px;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    position: absolute;
    top: 70px;
    transition: 0.5s;
}
form input{
    width: 90%;
    border: 1px solid #ccc;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
}
form .btn{
    width: 90%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
   left: 0;
}
.form-container a{
    font-size: 14px;
    color: #ff523b;
}
.form-container a:hover{
    font-size: 13px;
    color: grey;
}
#Indicator{
    border: none;
    background:#ff523b;
    height: 3px;
    width: 100px;
    margin-top: 5px;
    transform:translateX(100px);
    transition: 0.5s;
}
.displayNone{
    display: none;
}


/*
=======================================
Media query section start
=======================================
*/
@media only screen and (max-width:1049px){
    .col-4{
        flex-basis: 45%;
    }
    .single-product .col-2{
        flex-basis: 44%;
    }
}
@media only screen and (max-width:800px){
    
    nav ul{
        position:absolute;
        top:74.5px;
        left:0;
        width:100%;
        background:#333;
        overflow: hidden;
        transition: max-height 0.5s;
        border-radius: 8px;
    }
    nav ul li{
        display:block;
        margin:10px 50px 10px 0;
    }
    nav ul li a{
        color:#fff;
    }
    .menue-icon{
        display: block;
        cursor: pointer;
    }
    .col-2 h1 {
        font-size: 42px;
        margin-top: 0;
    }
    
}
@media only screen and (max-width:650px){
    .row{
        text-align: center;
    }
    .col-2 h1 {
        font-size: 35px;
    }
    .col-2 .offer-img {
        height: 340px;
    }
}
@media only screen and (max-width:600px){
    .colo-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .col-2{
        text-align: left;
    }
    .single-product .col-2 h1{
        font-size: 22px;
    }
    .card-info p{
        display: none;
    }
}


























